<div fxLayout="column" fxLayoutGap="1em">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
        <mat-form-field fxFlex>
            <mat-select
                multiple
                aria-label="palettes"
                placeholder="Palettes"
                [(ngModel)]="configuration.palettes"
                name="palettes"
                (selectionChange)="callback()"
                [compareWith]="paletteEquality"
            >
                <mat-option
                    *ngFor="let palette of availablePalettes | async"
                    [value]="palette"
                >
                    {{ palette.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex *ngIf="configuration.palettes && configuration.palettes.length > 0">
            <mat-select
                placeholder="Presets"
                [(ngModel)]="selectedPresets.top"
                (selectionChange)="applyPresetToSelected($event.value)"
            >
                <mat-option [value]="''">None</mat-option>
                <ng-container *ngIf="configuration.palettes.length === 1">
                    <ng-container *ngIf="getPresets(configuration.palettes[0].name) | async as presets">
                        <mat-option *ngFor="let preset of presets" [value]="preset.name">
                            {{ preset.name }}
                        </mat-option>
                    </ng-container>
                </ng-container>
                <mat-option *ngIf="configuration.palettes.length > 1" disabled>
                    Multiple palettes selected
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div
        fxLayout="row wrap"
        *ngFor="let palette of configuration.palettes"
        fxLayoutAlign="start center"
    >
        <!-- per-palette presets removed; using top-level presets selector instead -->
        <div
            fxFlex.xs="50%"
            fxFlex.sm="33%"
            fxFlex.md="25%"
            fxFlex.lg="20%"
            fxFlex.xl="14.28%"
            *ngFor="let entry of palette.entries"
        >
            <app-palette-entry
                [entry]="entry"
                (onToggleCallback)="callback()"
            ></app-palette-entry>
        </div>
        <mat-divider style="margin-top: 1em" [inset]="true"></mat-divider>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="mat-small mat-caption">
            Something wrong about colors ? Please fill an
            <a
                href="https://github.com/maxcleme/beadcolors/issues/new"
                target="blank"
                >issue</a
            >.
        </div>
    </div>
</div>
